# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
plugins/
plugins/android.json
plugins/ios.json
www/
test/
server/
$RECYCLE.BIN/
google-services.json
ionic-unit-testing-example
hgmRadio.apk
hgmRadio.jks
HgmRadio.apk

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
package-lock.json
src/app/app.firebase.config.ts
src/app/app.css
src/app/app.css.map
src/pages/page1/page1.css
src/pages/page1/page1.css.map
src/pages/page1/page1.js
src/pages/page1/page1.spec.js
src/pages/page2/page2.css
src/pages/page2/page2.css.map
src/theme/variables.css
test-config/mocks-ionic.js
