<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img class="player-logo-size"
           src="./assets/img/hgmRadio_app_logo.jpg"
           alt="HGM Radio Logo"
           title="HGM Radio Logo">
    </ion-title>
    <progress-bar [progress]="currentTrack.progress"></progress-bar>
  </ion-navbar>
  <!-- ion-item no-lines class="controller-wrapper">
    <audio id="audio-controls" controls autoplay controlsList="nodownload">
      <source src="./assets/media/music/platinumsellersbeats+jcoletypeloveyourzfreedl.mp3">
    </audio>
  </ion-item -->
</ion-header>
<ion-content padding>
  <!--ion-card>
    <img src="./assets/media/artist/D/Doujah_Raze/doujah_raze1.jpg" alt="Doujah Raze" title="">
    <ion-card-content class="artist-info-text-outer">
      <ion-card-title>Artist: {{ artistName }}</ion-card-title>
      <p>CD: Doujah Raze</p>
      <p>Hometown: Bronx</p>
      <p>State: New York</p>
    </ion-card-content>
    <ion-row text-center>
      <ion-col>
        <button ion-button icon-left clear>
          <ion-icon name="thumbs-up"></ion-icon>
          Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear>
        <ion-icon name="person"></ion-icon> Profile
        </button>
      </ion-col>
    </ion-row>
  </ion-card-->


  <!--ion-card ion-fixed>

    <ion-card-header>
      Now Playing
    </ion-card-header>
    <ion-card-content>
      <p>{{currentTrack.artistName}}</p>
      <p>{{currentTrack.title}}</p>
    </ion-card-content>
  </ion-card-->

  <ion-list no-lines>
    <button detail-none ion-item *ngFor="let track of tracks; let i = index;" (click)="track.playingStatus ? pauseTrack(track) : playTrack(track)" [ngClass]="{ 'alternate': i % 2, 'playing': track.playingStatus }">
      <ion-avatar item-left>
        <img
          [src]="'./assets/media/artist/D/Doujah_Raze/doujah_raze1.jpg'">
        <ion-spinner item-right *ngIf="track.playingStatus" name="bubbles" item-left></ion-spinner>
      </ion-avatar>
      <h2>Artist: {{track.artistName}}</h2>
      <p>Track: {{track.title}}</p>
      <p>CD: {{track.cdName}}</p>
    </button>
  </ion-list>
</ion-content>

<ion-footer>

  <ion-grid>

    <ion-row>

      <ion-col text-center width="33">
        <button (click)="prevTrack()" color="light" clear ion-button icon-only><ion-icon name="skip-backward"></ion-icon></button>
      </ion-col>

      <ion-col text-center width="33">
        <button *ngIf="!currentTrack.playing" (click)="playTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="play"></ion-icon></button>
        <button *ngIf="currentTrack.playing" (click)="pauseTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="pause"></ion-icon></button>
      </ion-col>

      <ion-col text-center width="33">
        <button (click)="nextTrack()" color="light" clear ion-button icon-only><ion-icon name="skip-forward"></ion-icon></button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>
